@import "./_normalize";

:root {
  --primary-color: #363636;
  --accent-main-color: #9f141c;
  --light-color: #ffffff;
  --bg-main-color: #9f141c;
  --text-team-name: #f3ebe4;
  --light-bg: #fffaf4;
}

body {
  font-family: "Gilroy", sans-serif;
  background: #fff;
  color: var(--primary-color);
  line-height: 1.23;
}

@font-face {
  font-family: "Gilroy";
  src: url("~/assets/fonts/Gilroy-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("~/assets/fonts/Gilroy-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("~/assets/fonts/Gilroy-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("~/assets/fonts/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 414px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
  @media screen and (min-width: 1920px) {
    width: 1920px;
  }
}
